<p id="notice"><%= notice %></p>

<h1>Table Submissions</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @table_submissions.each do |table_submission| %>
      <tr>
        <td><%= link_to 'Show', table_submission %></td>
        <td><%= link_to 'Edit', edit_table_submission_path(table_submission) %></td>
        <td><%= link_to 'Destroy', table_submission, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Table Submission', new_table_submission_path %>
